body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}
header {
  /* background-color: #000; */
  color: #fff;
  padding: 20px;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
#darkModeBtn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.blackbg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  color: #000; /* Text color */
  font-family: cursive;
  font-size: 25px;
  text-decoration: none; /* Remove underline */
  margin: 0 10px; /* Add space between links */
  margin-bottom: 10px;
}
h1 {
  /* color: rgba(216, 42, 42, 0.582); */
  color: #000;
  font-size: 36px;
  margin: 0;
  text-transform: uppercase;
}
h2 {
  color: #fff;
  font-size: 30px;
  margin: 0px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 17rem;
  font-family: cursive;
}
p {
  line-height: 1.6;
}
footer {
  background-color: #071729;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* styling video container  */
.video-container {
  width: 100%;
  margin: 0 auto;
}
video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* styling boxes */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
}
.box {
  background-color: #000;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
}
.box:hover {
  box-shadow: 0 0 10px 5px #f0f0f0;
}

/* Like button styling */
.like-logo {
  height: 20px;
  width: 20px;
}
.like-btn {
  cursor: pointer;
  background: #f0f0f0;
  border: none;
}

/* styling site icon */
.logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* styling save btn  */
.save-btn {
  cursor: pointer;
  background: #f0f0f0;
  border: none;
}
.save-logo {
  height: 20px;
  width: 20px;
}

/* second container css */
.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 20px;
}

/* adding css to the new boxes */
.nbox {
  width: 100%;
  height: auto;
  background: #000;
  /* display: flex; */
  border-radius: 20px;
  margin-bottom: 20px;
  /* justify-content: center; */
  /* margin-top: 10px; */
  /* border: 1px solid black; */
}

/* likedlist styling */
#likedList {
  list-style-type: none;
  padding: 0;
}
#likedList li {
  /* margin-bottom: 10px; */
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 20px;
}
#likedList li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
#likedList li a:hover {
  color: #008cff;
}

/* styling background image  */
/* Add styles for the background image container */
.background-image {
  background-image: url("images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed; /* Position the background image behind other content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1; /* Ensure the background is behind other content */
}

/* Adding responsiveness  */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    justify-content: center;
  }
  .container2 {
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    justify-content: center;
  }
  .next-intro {
    display: none;
  }
  h2 {
    margin-left: 8rem;
  }
}
